@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --font-size-xxs: 0.8rem;
    --font-size-xs: 1rem;
    --font-size-s: 1.2rem;
    --font-size-sm: 1.4rem;
    --font-size-m: 1.6rem;
    --font-size-g: 1.875rem;
    --font-size-xg: 2rem;
    --font-size-xxg: 2.2rem;
    --font-size-h6: 2.4rem;
    --font-size-h4: 2.6rem;
    --font-size-h5: 2.8rem;
    --font-size-h3: 3rem;
    --font-size-h2: 3.2rem;
    --font-size-h1: 3.4rem;
    --font-size-display: 3.6rem;
    /* Font family */
    --font-family: Roboto, Ubuntu, sans-serif;
    /* Font weight */
    --font-weight-s: 300;
    --font-weight-m: 400;
    --font-weight-g: 500;
    --font-weight-xg: 700;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.word-break-no {
    word-break: keep-all;
    white-space: nowrap;
}

.font-weight-s {
    font-weight: var(--font-weight-s);
}

.font-weight-m {
    font-weight: var(--font-weight-m);
}

.font-weight-g {
    font-weight: var(--font-weight-g);
}

.font-weight-xg {
    font-weight: var(--font-weight-xg);
}

.font-size-xxs {
    font-size: var(--font-size-xxs);
}

.font-size-xs {
    font-size: var(--font-size-xs);
}

.font-size-s {
    font-size: var(--font-size-s);
}

.font-size-sm {
    font-size: var(--font-size-sm);
}

.font-size-m {
    font-size: var(--font-size-m);
}

.font-size-g {
    font-size: var(--font-size-g);
}

.font-size-xg {
    font-size: var(--font-size-xg);
}

.font-size-xxg {
    font-size: var(--font-size-xxg);
}